main > section {
    padding: 0 0.938rem;
    max-width: 1150px;
    margin: 0 auto;
}
main > section > article > h1 {
    font-size: 24px;
    color: white;
    font-weight: 500;
    text-align: center;
}
main > section > article > h2 {
    color: rgb(237, 42, 72);
    font-size: 16px;
    font-weight: 400;
}
main > section > article > p {
    color: white;
    margin: 25px 0;
    font-size: 16px;
}
main > section > article > ul > li > p {
    color: white;
    font-size: 16px;
}
main > section > article > .paragrafo-italico {
    font-style: italic;
    font-weight: 600;
}
main > section > article > .paragrafo-italico span {
    color:red;
    text-shadow: 0px 0px 0px black;
}
main > section > article > .paragrafo-italico strong {
    text-shadow: 0px 0px 0px white;
}